<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> {{!--
	<link rel="stylesheet" href="public/css/style.css" type="text/css" /> --}}
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Finger+Paint|Freckle+Face|Love+Ya+Like+A+Sister" rel="stylesheet">


	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<style>
		body {
			margin: 20px;
			background-color: paleturquoise;
		}

		.jumbotron {
			background-image: url("https://cdn.dribbble.com/users/23537/screenshots/1882213/walking-cheeseburger.gif");
			height: 250px
		}

		img {
			width: auto;

		}

		h1 {
			font-family: 'Black Ops One', cursive;
			text-align: center;
			margin-top: -60px;
			color: red;
			font-size: 80px;
		}

		h2 {
			font-family: 'Love Ya Like A Sister', cursive;
			color: green;
			font-size: 30px;
		}

		div.row {
			margin: 0px;
		}

		.list-group-item {
			border: none;

		}

		li.list-group-item {
			background: none;
			font-family: 'Finger Paint', cursive;
			color: rebeccapurple;
			font-size: 20px;
		}

		button {
			min-width: 100px;
		}

		.eaten {
			color: rgb(97, 146, 97);
		}

		ul.eaten {
			padding: -40px;
		}

		#addburger {
			float: left;
		}

		#burgernoteaten {
			float: right;
		}

		#burgereaten {
			margin-right:70px;

		}
	</style>

	{{{ body }}}

	<script>
		// Export routes for server.js to use.

$(document).ready(function() {
  
    // Pre-load sound effects 	
    var audio0 = new Audio('http://soundbible.com/mp3/TomCat-Mr_Smith-2055290520.mp3');
    var audio1 = new Audio('http://soundbible.com/mp3/Sheep Bleating-SoundBible.com-1373580685.mp3');
    var audio2 = new Audio('http://soundbible.com/mp3/Turkey Gobble-SoundBible.com-312252853.mp3');
    var audio3 = new Audio('http://soundbible.com/mp3/Dinosaur Roar-SoundBible.com-605392672.mp3');
    var audio4 = new Audio('http://soundbible.com/mp3/Lion-SoundBible.com-621763115.mp3');
  
  
    // Array of sounds
    var soundArray = [audio0, audio1, audio2, audio3, audio4];
  
  
    // Click Listener for burger button
    $('.burgerAvailable').on("click", function(){
  
      // Generate a random number (from 0 to length of array)
      var i = Math.floor(Math.random()*soundArray.length);
  
      // Play the random sound
      soundArray[i].play();
  
    });
  
  
  });
	</script>
</body>

</html>