<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{{!-- //<link rel="stylesheet" href="../assets/css/style.css" type="text/css" /> --}}
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<style>
		.jumbotron{
			height:400px;
			background-color:yellowgreen
		}
		img{
			height:300px;
			margin-left:500px;
			margin-top:20px;
		}
		h1{
			margin-top:-40px;
			margin-left:400px
		}
		img#left{
				float:left;
			height:300px;

		}
		body{
			padding: 0px;	
			background-image:url(https://media1.tenor.com/images/39f4ec89cd8d29a05d73c2ba6b1f48dd/tenor.gif?itemid=8448323");
		}
	</style>
	{{{ body }}}
</body>

</html>