
body {
    margin: 20px;
    background-color: paleturquoise;
}

.jumbotron {
    background-image: url("https://cdn.dribbble.com/users/23537/screenshots/1882213/walking-cheeseburger.gif");
    height: 250px
}

img {
    width: auto;

}

h1 {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    margin-top: -60px;
    color: red;
    font-size: 80px;
}

h2 {
    font-family: 'Love Ya Like A Sister', cursive;
    color: green;
    font-size: 30px;
}

div.row {
    margin: 0px;
}

.list-group-item {
    border: none;

}

li.list-group-item {
    background: none;
    font-family: 'Finger Paint', cursive;
    color: rebeccapurple;
    font-size: 20px;
}

button {
    min-width: 100px;
}

.eaten {
    color: rgb(97, 146, 97);
}

ul.eaten {
    padding: -40px;
}

#addburger {
    float: left;
}

#burgernoteaten {
    float: right;
}

#burgereaten {
    float: left;
    margin-left:130px;
        }

